html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ---------- décoration et tailles ---------- */

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.absolute-center{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.absolute-center-50{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-end{
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}

.span-blue{
    color: #0081FF;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.coustard{
    font-family: 'Coustard', sans-serif;
}

.cambay{
    font-family: 'Cambay', sans-serif ;
}

.no-wrap{
    white-space: nowrap;
}

.wrap{
    white-space: normal;
}

.t40{
    font-size: 4rem;
}

.t32{
    font-size: 3.2rem;
}

.t26{
    font-size: 2.6rem;
}

.t24{
    font-size: 2.4rem;
}

.t20{
    font-size: 2rem;
    color: #2b2b2b;
}

.t18{
    font-size: 1.8rem;
}

.t16{
    font-size: 1.6rem;
}

.t14{
    font-size: 1.4rem;
}

.extra-bold{
    font-weight: 800;
}

.w-45{
    width: 45% !important;
}

.h-85{
    height: 80%;
}

.p-not-l{
    padding: 3rem 3rem 3rem 0;
}
/* ---------- section header ----------*/
#intro {
    background: url('Assets/Assets/header.png');
    background-size: 100% 100%;
}

.bg-intro{
    min-height: 100vh;
}
.bg-intro-h{
    padding: 5% 20% 5%;
}

header {
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.6rem;
}

nav ul li{
    font-family: 'work Sans', sans-serif;
    font-size: 1.8rem;
    padding: 1.4rem 2.0rem;
}
.navbar {
    position: fixed; 
    top: 0; 
    background-color: black;
    width: 100% ;
  }


/* ---------- section 2 ---------- */
#aboutStar{
    background: #ffffff;
}

.bdx-services{
    background-color: #007af2;
}

.icon-service{
    width: 6rem;
    height: 6rem;
}

#aboutMe .reseaux-sociaux i{
    opacity: 50%;
}

#aboutMe .reseaux-sociaux i:hover{
    opacity: 100%;
}

/* ---------- section 3 ---------- */

.btn-default{
    border-radius: 3rem/3rem;
    padding: 2rem 5.5rem;
}

.masonry, .masonry div, .masonry img{
    padding: 0;
    margin: 0;
}

.masonry img{
    width: 100%;
    height: auto;
}

/* ---------- section 4---------- */
#clients{
    background: url('images/photo-4.jpg');
    background-size: cover;
    color: white;
}

#clients *{
    text-align: center;
}

.rounded-circle{
    width: 6rem;
    height: 6rem;
}

/* ---------- section 5---------- */
#blog{
    background: #f3f0f1;
}

.bg-carousel-blog{
    background-image: url('images/bgcarousel.png');
    background-size: cover;
}

.carousel-blog{
    width: 56.1rem;
    height: 56.1rem;

}
.pad-carousel{
    padding: 15rem 10rem;
}
.bloc {
    padding-top:0%;
}
.bloc1 {
    padding-top:5%;
   
}



.blog-bg{
    height: 26rem;
}

.blog-bg-1{
    width: 26rem;
    background-image: url('images/stand.png');
    background-size: cover;
}

.blog-bg-2{
    width: 26rem;
    background-image: url('images/videoblog.png');
    background-size: cover;
}

.blog-bg-3{
    background: white;
    width: 36rem;
}

.blog-bg-4{
    background: #e91d62 ;
    width: 16rem;
}
/* ---------- sectionfooter ---------- */
#footer{
    background: url('Assets/Assets/darthvader.jpg');
    background-size:100% 100%;
}



.p-blog{
    padding: 4rem 0;
}
.p-20{
    padding: 2rem 0;
}
.sous-titre-1{
    line-height: 5rem !important;
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    font-weight: 800
}
.p-about-me{
    padding-top: 6.5rem;
    padding-bottom: 4rem;
    padding-left: 10rem;
}
.p-about{
    padding: 3.5rem 0;
}
.p-about-reseaux{
    padding: 7rem 0;
}
.p-contact{
    padding-bottom: 2.5rem;
    
}
.p-contact-mail{
    padding-bottom: 3.5rem;
}
.m-contact{
    margin-left: 2rem;
}
.margin-contact{
    padding: 20rem 0 !important;
}
.p-footer{
    padding: 3rem 0;
}
.center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    #menu-burger{
        z-index: 100;
        text-align: center;
        color: white;
        height: 0vh;
        overflow: hidden;
        }
.t-john-miller{
    font-size: 1.8rem !important;
}


.p-content-footer
{
    padding: 10rem 0;
}
        @media screen and (min-width: 992px){
            .p-not-r{
                padding: 3rem 0rem 3rem 3rem;
            }
            .w-input-contact{
                width: 45%;
            }
            .w-text-area{
                width: 100%;
            }
            .w-button{
                width: 33.333%;
            }
        }

        @media screen and (max-width: 992px){
            .p-not{
                padding: 0;
            }
            .blog-w {
                width: 50% !important;
            }
            .w-input-contact{
                width: 100%;
            }
            .w-text-area{
                width: 100%;
            }
            .w-button{
                width: 100%;
            }
        }

        @media screen and (max-width: 576px){
            html{
                font-size: 40% !important;
            }
            .w-input-contact{
                width: 100%;
            }
            .w-text-area{
                width: 75%;
            }
            .w-button{
                width: 75%;
            }
            .pr-header{
                padding-right: 30px;
            }
        }

        @media screen and (max-width: 430px){
            html{
                font-size: 30% !important;
            }
        }
        @media screen and (max-width: 350px){
            html{
                font-size: 25% !important;
            }
        }
        @media screen and (min-width: 700px){

            .st1{
                display: block;
            }
        }
        @media screen and (max-width: 700px){

            .st1{
                display: flex;
                flex-direction: column;
            }
        }
